@media (max-width: 425px) {
    #boxno {
        scale: 0.9;
    }

    #yes, #no {
        scale: 0.9;
    }

    #asn, #calender {
        scale: 0.8;
    }
}

/* ----- H O M E --- H T M L ----- */

@media (max-width: 400px){
    #box-left {
        scale: 0.9;
    }

    #box-right {
        scale: 0.8;
    }

    #top-right {
        gap: 13px;
    }

    #box {
        width: 95px;
        height: 135px;
    }
}